page-login {
    .bg-image{
        background-image: url("../assets/img/login.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
    }
}
